/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header */

.menu{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 7vh;
    align-items: center;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(146, 136, 136, 0.37) 0%, rgb(185, 164, 178) 50%, rgb(247, 214, 243) 100%);
    z-index: -1;
}

.logo{
    grid-column: 2/3;
    font-size: 30px;
}

.btn-menu{
    height: 50px;
    justify-self: end;
}

section{
    display: flex;
    height: 80vh;
    /* aligns items horizontally */
    justify-content: center;
    /* align items vertically */
    align-items: center; 
}

.hero{
    height: 90%;
    width: 90%;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section h1{
    position: absolute;
    top: 70%;
    left: 25%;
    font-size: 30px;
    z-index: 3;
    transform: translate(-20%, -70%);
    color: white;
}

.hero::after{
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0.3;
}